/* GLOBAL ITEMS */
html, body {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  background-color: #303E4D;
  height: 100%;
  width: 100%;
}

h1{
  font-weight: 200;
  margin: 0px;
}

h2{
  font-weight: 200;
  margin: 0px;
}

h3{
  font-weight: 100;
  margin: 0px;
}

/* HOMEPAGE */
.center-logo{
  display: none;
}

.center-logo svg, .center-logo {
  width: 400px;
  height: 400px;
  padding: 0px;
  margin: 0px;
}

.center-logo svg g path,
.center-logo svg g line{
  /*stroke: #ffffff;*/
}

.logo-text{
  width: 100%;
  height: 40px;
  text-align: center;
  color: #fff;
  letter-spacing: 7px;
  display: none;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .center-logo svg, .center-logo {
    width: 600px;
    height: 600px;
  }
  .logo-text h1{
    font-size: 350%;
  }
  .footer p{
    font-size: 300%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .center-logo svg, .center-logo {
    width: 600px;
    height: 600px;
  }
  .logo-text h1{
    font-size: 350%;
  }
  .footer p{
    font-size: 200%;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .center-logo svg, .center-logo {
    width: 500px;
    height: 500px;
  }
  .logo-text h1{
    font-size: 300%;
  }
  .footer p{
    font-size: 150%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .center-logo svg, .center-logo {
    width: 400px;
    height: 400px;
  }
  .logo-text h1{
    font-size: 200%;
  }
  .footer p{
    font-size: 100%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .center-logo svg, .center-logo {
    width: 400px;
    height: 400px;
  }
  .logo-text h1{
    font-size: 200%;
  }
  .footer p{
    font-size: 100%;
  }
}

.footer{
  width: 100%;
  color: #fff;
  position: fixed;
  bottom: 0px;
  font-weight: 100;
  text-align: right;
  padding: 15px;
}

.footer p{
  padding: 0px;
  margin: 0px;
}
