/* GLOBAL ITEMS */
html, body {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  background-color: #303E4D;
  height: 100%;
  width: 100%;
}

h1{
  font-weight: 200;
  margin: 0px;
}

h2{
  font-weight: 200;
  margin: 0px;
}

h3{
  font-weight: 100;
  margin: 0px;
}

/* HOMEPAGE */
.center-logo{
  display: none;
}

.center-logo svg, .center-logo {
  width: 400px;
  height: 400px;
  padding: 0px;
  margin: 0px;
}

.center-logo svg g path,
.center-logo svg g line{
  /*stroke: #ffffff;*/
}

.logo-text{
  width: 100%;
  height: 40px;
  text-align: center;
  color: #fff;
  letter-spacing: 7px;
  display: none;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .center-logo svg, .center-logo {
    width: 600px;
    height: 600px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .center-logo svg, .center-logo {
    width: 600px;
    height: 600px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .center-logo svg, .center-logo {
    width: 600px;
    height: 600px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .center-logo svg, .center-logo {
    width: 400px;
    height: 400px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .center-logo svg, .center-logo {
    width: 400px;
    height: 400px;
  }
}
